[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
fire = "*"
bumpversion = "*"
twine = "*"
sphinx = "*"
rst = "*"
doc8 = "*"
rst-linker = "*"

[packages]
torch = "*"
numpy = "*"
nptyping = "*"
pyyaml = "*"
ssg = "*"
docopt = "*"

[requires]
python_version = "3.7"

[scripts]
update_deps = "bash -c \"pipenv lock -r | sed '1d;$d' > deps.txt\""
